@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  .print-body {
    width: 793px !important;  /* Ensure the print size is applied */
    height: 1123px !important;  /* Ensure the print size is applied */
  }
  
  /* Hide elements that shouldn't be printed */
  .no-print {
    display: none;
  }

  .print-lg-text {
    font-size: 18px !important;
  }
  .print-xl-text {
    font-size: 20px !important;
  }
  .print-2xl-text {
    font-size: 24px !important;
  }
  .print-text-base {
    font-size: 16px !important;
  }
  .print-w-24 {
    width: 96px !important;
  }
  .print-leading-4 {
    line-height: 1rem !important;
  }
}
